{% extends "network/layout.html" %}

{% load static %}

{#    TODO: Merge the two files #}

{% block body %}
{#    TODO: Remove the revent tweet#}
    <div id="recent-tweet">

    </div>
    <div class="row posts">
    {% for tweet in tweets %}

      <div class="col-md-12" class = "post" data-postid = "{{ tweet.id }}">
          <div class="card mt-4">
              <div class="card-body row">
                  <div class="col-md-2 post-owner">
                      <a href= "profile/{{ tweet.owner_id }}">
                          <img class="rounded-circle" src="{{ tweet.owner.image }}" style="width: 6rem;height: 6rem;">
                      </a>
                      <a href = "profile/{{ tweet.owner_id }}"id="owner-name" style="text-align: center;display: block;"><b>{{ tweet.owner }}</b></a>
                      <span class="text-muted">{{ tweet.date_created }}</span>
                     </div>
                  <div class="col-md-10 content">
                      <p style="font-size:20px;" class = "description-txt" data-post_id = "{{ tweet.id }}">{{ tweet.description }}</p>
                      {% if tweet.owner.id == user.id  %}
                      <button type="button" class = "btn btn-primary post-edit" data-post_id = "{{ tweet.id }}">Edit</button>
                      {% endif %}
                  </div>
                  <div class="d-flex justify-content-around react">
                      <div class = "row">
                          <a style="color:dodgerblue;" class="like_count" data-like_count = "{{ tweet.number_likes }}">{{ tweet.number_likes }}</a>
                          <a type="button" class = "like-btn" data-post_id = "{{ tweet.id }}"data-is_liked = "{% if user.id in tweet.likes_owner_id %}true{% else %}false{% endif %}"style="color:{% if user.id in tweet.likes_owner_id %}red{% else %}gray{% endif %};">
                              <i class="fa fa-heart"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    {% endfor %}
    <div class="pagination " style="text-align: center;display: block;height: 6rem;">
    <span class="step-links">
        {% if tweets.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ tweets.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ tweets.number }} of {{ tweets.paginator.num_pages }}.
        </span>

        {% if tweets.has_next %}
            <a href="?page={{ tweets.next_page_number }}">next</a>
            <a href="?page={{ tweets.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    </div>


{% endblock %}
{% block script %}
    <script src="{% static 'network/js/edit_post.js' %}"></script>
    <script src="{% static 'network/js/like.js' %}"></script>

{% endblock %}