{% load static %}

<!DOCTYPE html>
<html lang="en" style="font-family: Roboto, sans-serif;">
<head>
    <title>{% block title %}Social Network{% endblock %}</title>

    {#    try #}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{% static 'network/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static  'network/css/Sidebar-Menu-1.css' %}">
    <link rel="stylesheet" href="{% static 'network/css/Sidebar-Menu.css' %}">
    <link rel="stylesheet" href="{% static "network/css/styles.css" %}">

</head>
<body>

<div id="tweet-form" style="display: none;">
    <body>
    <div class="tweet-div">
        <form id="tweet-form">
            <textarea class="form-control" id = "description"></textarea>
            <div class="form-group text-center">
                <button class="btn btn-primary btn-block text-center" id="tweet-submit" type="submit">Tweet</button>
            </div>
        </form>
    </div>
    </body>
</div>

<div id="wrapper">
    <div id="sidebar-wrapper"
         style="color: rgb(0,0,0);font-size: 30px;background: white;border-right: 1px rgb(234,234,234) solid;">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#" style="font-size: 30px;height: 70px;">
                <i class="fa fa-twitter" style="font-size: 50px;color: #1DA1F2;"></i></a>
            </li>
            {% if user.is_authenticated %}
                <li >
                    <a  href="#"><strong>{{ user.username }}</strong></a>
                </li>
            {% endif %}
            {% if user.is_authenticated %}
                <li>
                    <a href="#">Following</a>
                </li>
                <li>
                    <a id="tweet-btn">Tweet</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}">Log In</a>
                </li>
                <li>
                    <a href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="page-content-wrapper">

        <div class="container-fluid">
            <div id="top-nav" class="row"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"
                                             style="font-size: 30px;"><i class="fa fa-bars" style="color: #1DA1F2;"></i></a>
                <h1 id="page-name" style="text-align: center;">
                    {% block namePage %}
                    {% endblock %}
                </h1>
            </div>

                {% block body %}

                {% endblock %}

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="{% static 'network/js/Sidebar-Menu.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="{% static 'network/js/tweet.js' %}"></script>
</body>
</html>