{% load static %}

<!DOCTYPE html>
<html lang="en" style="font-family: Roboto, sans-serif;">
<head>
    <title>{% block title %}Social Network{% endblock %}</title>
    {% block beg_script %}
    {% endblock %}
    {#    try #}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{% static 'network/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static  'network/css/Sidebar-Menu-1.css' %}">
    <link rel="stylesheet" href="{% static 'network/css/Sidebar-Menu.css' %}">
    <link rel="stylesheet" href="{% static "network/css/styles.css" %}">


</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="TweetModal" >
                <div class="modal-dialog">
                    <div class="modal-content rounded-4" style ="    border-radius: 30px;
">
                        <div class="modal-header">
                            <h1 style="text-align: center">Tweet</h1>
                        </div>
                        <div class="modal-body">
                            <form id = "description-form"style="background-color: #999999">
                                <textarea class="form-control" id="description" placeholder="What are you thinking?"></textarea>
                                <div class="form-group text-center">

                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="d-flex justify-content-around react">
                                <input class="btn btn-primary rounded-pill modal-btn" type="button" data-dismiss = "modal" value="close">
                                <input type="button" id="tweet-submit" class=" modal-btn btn btn-primary rounded-pill" value="Tweet" type="submit" data-dismiss = "modal">
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div id="wrapper">
    <div id="sidebar-wrapper"
         style="color: rgb(0,0,0);font-size: 30px;background: white;border-right: 1px rgb(234,234,234) solid;">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#" style="font-size: 30px;height: 70px;">
                <i class="fa fa-twitter" style="font-size: 50px;color: #1DA1F2;"></i></a>
            </li>
            {% if user.is_authenticated %}
                <li >
                    <a  href="#"><strong>{{ user.username }}</strong></a>
                </li>
            {% endif %}
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'index' %}">All Tweets</a>
                </li>
                <li>
                    <a href="#">Following</a>
                </li>
                <li>
                    <a id="tweet-btn" href="#TweetModal" data-toggle ="modal" target-modal="#TweetModal">Tweet</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}">Log In</a>
                </li>
                <li>
                    <a href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="page-content-wrapper">

        <div class="container-fluid">
            <div id="top-nav" class="row"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"
                                             style="font-size: 30px;"><i class="fa fa-bars" style="color: #1DA1F2;"></i></a>
                <h1 id="page-name" style="text-align: center;">

                </h1>
            </div>

                {% block body %}

                {% endblock %}

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="{% static 'network/js/Sidebar-Menu.js' %}"></script>
{% block script %}

{% endblock %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="{% static 'network/js/tweet.js' %}"></script>
</body>
</html>
