{% extends "network/layout.html" %}
{% load static %}
{% block beg_script %}
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

{% endblock %}
{% block body %}
 <div class="page-header header-filter" data-parallax="true" id = "background-image" >
    <div class="main main-raised">
		<div class="profile-content">
            <div class="container">
                <div class="row">
                  <div id="user_info" style="margin: auto">
                    <div class="col-md-6 ml-auto mr-auto">
          	           <div class="profile text-center">
  	                        <div class="avatar">
                              <br>
  	                            <img src="{{ user_info.image }}" alt="Circle Image" id = "profile_img" class="img-raised rounded-circle img-fluid">
  	                        </div>
  	                        <div class="name">
  	                            <h3 class="title" id = "name">{{ user_info.name }}</h3>
  	                        </div>
                           <div class="row mt-1">
                                 <div class="col border-left border-right text-center">
                                     <h5 class="text-uppercase">Followers</h5>
                                     <h4 class="font-light" id = "followers_count">{{ user_info.followers_count }}</h4>

                                 </div>
                                 <div class="col border-right text-center">
                                     <h5 class="text-uppercase">Following</h5>
                                      <h4 class="font-light" id = "followings_count">{{ user_info.followings_count }}</h4>
                                 </div>

                             </div>
                       <br>
                            {% if  user.id == user_info.id %}
                                {% else %}
                                <div id="follow-btn" class = "btn btn-primary"  data-followers_count = "{{user_info.followers_count  }}"data-user_id = "{{ user_info.id }}"{% if user in user_info.followers.all %}
                                        data-is_follow="true"
                                    {% else %}
                                     data-is_follow="false"
                                    {% endif %}></div>
                            {%endif%}
  	                    </div>
      	            </div>
                      <br><br>
                    <div class="description text-center">
                        <p>{{user_info.about}}</p>
                    </div>
                  </div>

                </div>
                <div id="recent-tweet">

                </div>
                <div id="recent-tweet">

    </div>
    <div class="row posts">
    {% for tweet in user_post %}

  <div class="col-md-12" class = "post" data-postid = "{{ tweet.id }}">
      <div class="card mt-4">
          <div class="card-body row">
              <div class="col-md-2 post-owner">
                  <a href= "profile/{{ tweet.owner_id }}">
                      <img class="rounded-circle" src="{{ tweet.owner.image }}" style="width: 6rem;height: 6rem;">
                  </a>
                  <a href = "profile/{{ tweet.owner_id }}"id="owner-name" style="text-align: center;display: block;"><b>{{ tweet.owner }}</b></a>
                  <span class="text-muted">{{ tweet.date_created }}</span>
                 </div>
              <div class="col-md-10 content">
                  <p style="font-size:20px;">{{ tweet.description }}</p>
              </div>
              <div class="d-flex justify-content-around react"><a href="#">{{ tweet.number_likes }}<i class="fa fa-heart"></i></a><a class="comment" href="#"><i class="fa fa-comment"></i></a></div>
          </div>
      </div>
  </div>
    {% endfor %}
    </div>
            </div>




            </div>
        </div>
	</div>

{% endblock %}
{% block script %}

<script>
  var received_data  = {{user_info|safe}};
  var user_posts = {{user_post|safe}};
  var is_followed = "{{is_followed|safe}}" === "True";
</script>

<script src="{% static 'network/js/follow.js' %}"></script>

{% endblock %}
